@charset "UTF-8";

/* Configurações Gerais */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: #b9b9b9;
    background-size: contain;
    background-repeat: no-repeat;
}
h1 {
    color: white;
    text-shadow: 2px 2px 0px #182691;
    padding: 10px;
}